/* Header */
Header {
    background-color: rgb(215, 229, 244);
    position: absolute;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.61rem;
    margin-top: 2px;


}

Header a {
    text-decoration: none;

}

/* Nav styles with dropdown */


#navbar {
    font-size: 100%;
    letter-spacing: 2px;
    list-style-type: none;
    display: flex;
    margin-left: 500px;
    
}

#navbar>li {
    margin-bottom: 70px;
    display: inline-block;
    margin-right: 20px;
    
    
    
}

#navbar2 {
    font-size: 100%;
    letter-spacing: 2px;
    list-style-type: none;
    display: flex;
    
    
}

#navbar2>li {
    margin-top: 40px;
    display: inline-block;
    margin-right: 20px;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;

}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}